<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>399041889201-ablv72bv3281vj3jur0s2a9dojtf46si.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.399041889201-ablv72bv3281vj3jur0s2a9dojtf46si</string>
    <key>API_KEY</key>
    <string>AIzaSyCcLmP3XZOr4NQoLLc1yucjm9HAGqWkNA0</string>
    <key>GCM_SENDER_ID</key>
    <string>399041889201</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.spritle.cardinalkit-app</string>
    <key>PROJECT_ID</key>
    <string>spritle-cardinalkit</string>
    <key>STORAGE_BUCKET</key>
    <string>spritle-cardinalkit.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:399041889201:ios:18b9725af2eea355683390</string>
</dict>
</plist>
